*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{
    background-color: #1f2020;
}
@font-face {
    font-family: "Pixel";
    src: url("/Fuentes/pixel.ttf");
}
@font-face {
    font-family: "info";
    src: url("/Fuentes/info.ttf");
}
html
{
     scroll-behavior: smooth;
}
.slider
{
    display: flex;
    align-items: center;
    
}

.ul
{
    width: 80%;
    background: #111111;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    border-radius: 20px;
}
.ul .li
{
    overflow: hidden;
}

.ul .img
{
    height: 20vh ;
    transition: all 5s ease
}
.Proyecto{
    font-size: 60px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-family: "Pixel";
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color:#1f2020;
    color: white;
    font-weight: bold;
    transition: 1s;
}

.cerrar
{
    width: 5em;
    height: 3em;
    background: #47c079;
    margin: 0 3em 1em;
    border-radius: 10px;
    
}
header{
      background-color: #1b1b1b;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 99;
      position: fixed;
      max-width: 1100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:  15px 20px;
}
.form-div{

    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    position: relative;
    width: 300px;
    height: 450px;
    background-color: rgba(31, 30, 30, 0.63);
    margin: 0 50px 0 40px;
    transition: 1s;
    
}
.hr-div
{
    margin-left: 45%;
    margin-right: 45%;
    border: 1px solid #68fff2;
    animation: hr 10s alternate infinite;
    transition: 2s;

}

@keyframes hr{
  0%{
    margin: 0px  50%;
    margin-top: 10px;
    animation-delay: 1s;
    
  }
  30%{
    margin: 0px 30%;
    margin-top: 10px;
  }
  60%{
    margin: 0px 30%;
    margin-top: 10px;
    border: 1px solid #284441;
  }
  100%{
    margin: 0px 50%;
    margin-top: 10px;
    animation-delay: 1s;
    border: 1px solid #508f8a;
  }
}


.img-span img{
    width: 45%;
    margin-left: 27%;
    padding-top: 20px;
    
    
}
.img-span .img2
{
    width: 25%;
    margin-left: 36%;
    padding-top: 20px;
    position: relative;
}
.img-span .img3
{
    width: 25%;
    margin-left: 38%;
    padding-top: 36px;
    position: relative;
}
.form-div article
{
    color:#2cd4c6;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-family: "Pixel";
    text-transform:uppercase;
    width: 100%;
   
    
}
.span-info
{
   display: inline-flex;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px;
   font-size: 18px;
   text-align: center;
   font-family: 'info';
   text-transform: none;

}
.div-ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 60px;
    margin-left: 66px;
    width: 100%;
    
}
.leng
{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #459696;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
    bottom: 40px;
    width: 100%; 
    margin-left: 20px;
    
    
}
.leng2
{
    
    background-color: #459696;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 25px;
    margin-left: 12px;
    width: 100%;
    
    
}
.leng3
{ 
    justify-content: center;
    display: flex;
    padding-right: 10px;
    background-color: #459696;
    color: white;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 10px;
    left: 0px;
    width: 100%;
}
.sep{
   display: flex;
   margin-left: 15%;
   margin-right: 15%;
   border: 2px solid white;
   height: 100%;
}

.img-sec
{
  background-color: #1f2020;
  width: 100%;
  display: flex;
  padding-top: 2%;
  padding-bottom: 5%;
  justify-content: center;
  
  
  
}
.div-ul2
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 60px;
    margin-left: 95px;
}
.repo a
{
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 25px;
    text-decoration: none;
    display: block;
    background-color: #111111;
    color: white;
    position: relative;
    left: 5px;
    bottom: 20px;
    transition: 0.50s;
    
}
.repo a i{
    padding-right: 10px;
}
.repo a:hover{
  background-color: #284441;
  transform:scaleX(90%);
  transition: 0.70s;

}
.repo2 a
{
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 5px 10px 5px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 25px;
    text-decoration: none;
    display: block;
    background-color: #111111;
    color: white;
    position: relative;
    top: 50px;
    transition: 0.70s;
}
.repo2 a i{
    padding-right: 10px;
}
.repo2 a:hover{
  background-color: #284441;
  transform:scaleX(90%);
  transition: 0.70s;

}
.repo3 a
{
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 20px;
    padding: 10px 5px 10px 5px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 25px;
    text-decoration: none;
    display: block;
    background-color: #111111;
    color: white;
    position: relative;
    top: 36px;
    transition: 0.70s;
}
.repo3 a i{
    padding-right: 10px;
}
.repo3 a:hover{
  background-color: #284441;
  transform:scaleX(90%);
  transition: 0.70s;

}

.logo
{
      height: 50px;
      
      padding-bottom: 5px;
}
.nav
{
    padding-left: 600px;
}


.nav a
{
     color: #ffffff;
     text-transform: uppercase;
     text-decoration: none;
     padding:  0 15px;
     transition: 1s;
     font-size: 16px;
     
}
#banner
{
     background-color: #1f2020;
     height: 90vh;
     display: flex;
     align-items: center;
     position: relative;
     right: 10px;
     
}
.contenido-banner
{
     padding: 20px;
     background-color:#2b2a2a;
     max-width: 400px;
     margin:  0 auto;
     text-align: center;
     border-radius: 40px;
     
}
.contenido-banner img{
     margin-top: 40px;
     border: 5px solid #ffffff;
     display: block;
     width: 50%;
     height: 100%;
     margin: auto;
     border-radius: 100%;
    
}
.contenido-banner img:hover
{
 filter: blur(2px);
 
}
.contenido-banner h1{
     margin-top: 20px;
     font-size: 42px;
     font-family:sans-serif;
     color: #ffffff;
}
.contenido-banner h3
{
     color: #47c079;
     margin-top: 5px;
     font-size: 20px;
     font-weight: 100%;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenido-banner .redes a
{
    color: aliceblue;
    display:inline-block;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 100%;
    width:  50px;
    height: 50px;
    line-height:  50px;
    margin: 20px 5px;
    font-size: 30px;
    transition: 0.50s;
    cursor: pointer;
}
.contenido-banner .redes a:hover
{
    background-color: #57a9ac;
    color: #ffffff;
    transform:translateY(-10px)
}
.sobremi
{
    background-color: #1f2020;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}
.info-yo
{
    
    color: white;
    font-size: 20px;
    border: 1px solid rgba(100, 97, 97, 0.349);
    display: block;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.info-yo p{
    position: relative;
    left: 15px;
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.soy
{ 
    display: block;
    padding-bottom: 20px;
    font-family: 'info';
    color: #7ad4d4;
    transition: 1s;
    font-size: 25px;
    font-weight: bold;
}
.tengo 
{
    padding-bottom: 20px;
    font-family: 'Pixel';
    font-size: 30px;
    letter-spacing: 5px;
    color: #dfdcdc;
}
.con
{
    padding: 0px 30px 20px 30px;
    display: block;
    color: #39dee4;
    font-family: 'info';
    transition: 1s;
    font-size: 25px;
}
.con:hover
{
    color: #516d6a;
    cursor:default;
    transform: translateY(-5px);
}
.titulo-personal h2
{
    font-family: 'Pixel';
    font-size: 50px;
    letter-spacing: 4px;
}

.sobremi .sobremi-info h1
{
    font-size: 45px;
    text-align: center;
    padding-bottom: 50px;
    color: #ffffff;
    font-family: 'Pixel';
    text-transform: uppercase;
    letter-spacing: 10px;
    
}
.sobremi .sobremi-info p
{
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
    
}
.sobremi-info h2
{
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;

}
.sobremi-info .personal 
{
    
    font-size: 18px;
    display: flex;
    box-shadow: 0 0 18px rgba(24, 23, 23, 0.651);
    margin: 25px;
    background-color: #1b1b1b;
    flex-direction: column;
    padding: 25px 30px 0px 30px;
    border-radius: 20px;
    text-align: right;
    
    position: relative;
    
    
    
    
   
}
.personal span
{
    text-align: center;
    
}
.sobremi-info ul 
{
    list-style: none;
    
}
.sobremi-info strong
{
    list-style: none;
    display: flex;
    font-family: 'Pixel';
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    
}
div .derecha-span
{
    list-style: none;
    display: flex;
    font-size: 22px;
    color: #8acaca;
    position: relative;
    bottom: 30px;
    justify-content: right;
    font-size: 25px;
    font-family: 'info';
}
.copado h3
{
font-size: 40px;
color: #ffffff;
padding-bottom: 20px;
padding-top: 20px;
text-align: center;

}
.copado
{
    flex-direction: column;
}
.copado h3{
    font-family: 'Pixel';
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 50px;
    padding-top: 30%;
}
.contenedor-intereses
{
    display: flex;
    margin: 20px;
    flex-direction: row;
    padding-bottom: 30%;
}


.interes{
    width: 100px;
    height: 100px;
    background-color: #2b2a2a;
    border-radius: 10px;
    margin: 12% 50px 50px 0;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    color: #ffffff;
    transition: 0.50s;
    font-size: 35px;
    position: relative;
    left: 5%;
    box-shadow: 0 0 30px #00000088;   
}
.interes:hover
{
    background-color:#459696;
    transform:translateY(-10px);
    
    

}
.interes span{
    font-size: 20px;
    position: relative;
    top: 70%;
    right: 35%;
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
}
.interes .py {
    font-size: 20px;
    position: relative;
    top: 70%;
    right: 42%;
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
}
.interes .cs {
    font-size: 20px;
    position: relative;
    top: 70%;
    right: 30%;
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
}

.mostrar-menu
{
    order: 1;
}
.mostrar-menu,
.esconder-menu
{
 font-size: 30px;
 cursor: pointer;
 display: none;
 transition: 0.4s;
}
.mostrar-menu,
.esconder-menu
{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 25px;
}
.nav a:hover
{
    color: rgb(87, 158, 163);
    cursor: pointer;
    transform:translateX(-10px)
}


#chek
{
    display: none;
}
/*Mis proyectos*/
.mis-proyectos
{
    height: 50vh;
    background-color: #1f2020;
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 50px 40px;
    
}
.mis-proyectos h1
{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
    
}



.foter
{
    background-color: #111111;
    padding: 15px 40px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    width: 100%;
}

/*Curriculum*/

.boton-descarga
{

    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ffffff;
    width: fit-content;
    display: block;
    margin: 10px auto;
    padding: 5px 22px;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    position: relative;

    text-decoration: none;
    
}
.boton-descarga .slader
{
   position: absolute;
   top:0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: #57a9ac;
   border-radius: 5px;
   z-index: -1;
   transition: 1s;
    
}
.boton-descarga:hover .slader
{
width: 100%;


}
.espera
{
    margin-left: 20%;
}

.linea
{
    background: #47c079;
    height: 5px;
    width: 100%;
    display: block;
    margin-bottom: 5%;
    
}
/*Animaciones*/

.info
{
    animation: info 6s;
}
@keyframes info
{
    from{opacity: 0; filter: blur(2px);}
    to{opacity: 1;}
}
.redes
{
    animation: redes 5s;
}
@keyframes redes
{
    from{opacity: 0; filter: blur(2px);}
    to{opacity: 1;}
}
.contenedor-imagen
{
    animation: contenedor-imagen 5s;
}

@keyframes contenedor-imagen
{
    from{opacity: 0; filter: blur(2px);}
    to{opacity: 1;}
}


/*Responsive*/

@media (max-width: 1320px)
{
    #banner
    {
        background-position: left;
    }
    .form 
    {
        margin: 0;
        padding-right: 150px;
        padding-top: 0px;
        padding-left: 150px;
        
        
    }
    .img-sec{

       display: flex;
       flex-direction: column;
       margin-top: 10px;
       align-items: center;
       width: 100%;
       
    }
    .sobremi .personal
    {
        position: relative;
        margin-left:10%;
        align-items: center;
        display: flex;
        width: 80%;
    }
    .personal li strong
    {
        align-items: center;
    }
    .form-div
    {
        margin-top: 50px;
        
        
    }
    .leng2
    {
       position: relative;
       left: 5%;

    }
    .leng
    {
        position: relative;
        left: 2%;
    }
    .leng3
    {
        position: relative;
        left: 2%;
    }
    .repo2
    {
        position: relative;
        bottom: 20px;
    }
    
.derecha-span
{
    padding-top: 45px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    
    
}
   
.sobremi strong
{
    font-size: 25px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    display: grid;
}
.copado .contenedor-intereses
{
    
    display: flex;
    
    
    
}
    .sec
    {
        margin: 0;
        padding-left: 15px;
      
    }
    .cont-proyectos
    {
        padding-top: 15px;
        
        
        
    }
    
    .boton-descarga
    {
        margin: 0;
    }
    .mostrar-menu,
    .esconder-menu{
        display: block;
       
    }
    .nav {
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #242525;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .nav a{
        display:  block;
        padding: 20px;

    }
    .esconder-menu
    {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chek:checked ~ .nav
    {
        right: 0;
    }
    .info-yo
    {
       margin-left: 5%;
        width: 90%;
    }

.soy
{ 
    display: block;
    padding-bottom: 20px;
    font-family: 'info';
    color: #7ad4d4;
    transition: 1s;
}
.tengo 
{
    padding-bottom: 20px;
    font-family: 'Pixel';
    font-size: 25px;
    letter-spacing: 5px;
    color: #dfdcdc;
}
.con
{
    padding: 0px 30px 20px 30px;
    display: block;
    color: #39dee4;
    font-family: 'info';
    transition: 1s;
}
}
@media (max-width: 750px)
{
    #banner
    {
        background-position: left;
        margin-left: 3%;
    }
    .form 
    {
        margin: 0;
        padding-right: 150px;
        padding-top: 0px;
        padding-left: 150px;
        
        
    }
    .img-sec{

       display: flex;
       flex-direction: column;
       margin-top: 10px;
       align-items: center;
       width: 100%;
       
    }
    .sobremi .personal
    {
        position: relative;
        margin-right: 10%;
        align-items: center;
        display: flex;
        width: 80%;
    }
    .personal li strong
    {
        align-items: center;
    }
    .form-div
    {
        margin-top: 50px;
        
        
    }
    .leng2
    {
       position: relative;
       left: 5%;

    }
    .leng
    {
        position: relative;
        left: 2%;
    }
    .leng3
    {
        position: relative;
        left: 2%;
    }
    .repo2
    {
        position: relative;
        bottom: 20px;
    }
    
.derecha-span
{
    padding-top: 45px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    
    
}
   
.sobremi strong
{
    font-size: 25px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    display: grid;
}
.copado .contenedor-intereses
{
    
    display: flex;
    
    
    
}
    .sec
    {
        margin: 0;
        padding-left: 15px;
      
    }
    .cont-proyectos
    {
        padding-top: 15px;
        
        
        
    }
    
    .boton-descarga
    {
        margin: 0;
    }
    .mostrar-menu,
    .esconder-menu{
        display: block;
        
    }
    .nav {
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #242525;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .nav a{
        display:  block;
        padding: 20px;

    }
    .esconder-menu
    {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chek:checked ~ .nav
    {
        right: 0;
    }
.info-yo
{
    margin-left: 10%;
    width: 80%;
}
.soy
{ 
    display: block;
    padding-bottom: 20px;
    font-family: 'info';
    color: #7ad4d4;
    transition: 1s;
}
.tengo 
{
    padding-bottom: 20px;
    font-family: 'Pixel';
    font-size: 25px;
    letter-spacing: 5px;
    color: #dfdcdc;
}
.con
{
    padding: 0px 30px 20px 30px;
    display: block;
    color: #39dee4;
    font-family: 'info';
    transition: 1s;
}
}
@media (max-width: 650px)
{
    #banner
    {
        background-position: left;
    }
    .form 
    {
        margin: 0 auto;
        padding-right: 150px;
        padding-top: 0px;
        padding-left: 150px;
        
        
    }
    .img-sec{

       display: flex;
       flex-direction: column;
       margin-top: 10px;
       align-items: center;
       width: 100%;
       
    }
    .sobremi .personal
    {
        position: relative;
        
        align-items: center;
        display: flex;
        width: 80%;
    }
    .personal li strong
    {
        align-items: center;
    }
    .form-div
    {
        margin-top: 50px;
        
        
    }
    .leng2
    {
       position: relative;
       left: 5%;

    }
    .leng
    {
        position: relative;
        left: 2%;
    }
    .leng3
    {
        position: relative;
        left: 2%;
    }
    .repo2
    {
        position: relative;
        bottom: 20px;
    }
    
.derecha-span
{
    padding-top: 45px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    
    
}

.sobremi strong
{
    font-size: 25px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    display: grid;
}
.copado .contenedor-intereses
{
    
    display: flex;
    
    
    
    
}
    .sec
    {
        margin: 0;
        padding-left: 15px;
      
    }
    .cont-proyectos
    {
        padding-top: 15px;
        
        
        
    }
    .mostrar-menu,
    .esconder-menu{
        display: block;
        margin: 0px;
    }
    .nav {
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #242525;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .nav a{
        display:  block;
        padding: 20px;

    }
    .esconder-menu
    {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chek:checked ~ .nav
    {
        right: 0;
    }
.soy
{ 
    display: block;
    padding-bottom: 20px;
    font-family: 'info';
    color: #7ad4d4;
    transition: 1s;
}
.tengo 
{
    padding-bottom: 20px;
    font-family: 'Pixel';
    font-size: 25px;
    letter-spacing: 5px;
    color: #dfdcdc;
}
.con
{
    padding: 0px 30px 20px 30px;
    display: block;
    color: #39dee4;
    font-family: 'info';
    transition: 1s;
}
}
@media (max-width: 430px)
{
    #banner
    {
        background-position: left;
        margin-left:15%;
        width: 75%;
    }
    .form 
    {
        margin: 0;
        padding-right: 150px;
        padding-top: 0px;
        padding-left: 150px;
       
        
        
    }
    .img-sec{

       display: flex;
       flex-direction: column;
       margin-top: 10px;
       align-items: center;
       width: 100%;
       
    }
    .titulo-personal h2
    {
      margin-left: 2%;
    }
    .sobremi .personal
    {
        position: relative;
        align-items: center;
        display: flex;
        width: 80%;
        margin-left: 10%;
    }
    .personal li strong
    {
        align-items: center;
    }
    .personal .derecha-span {
        font-size: 17px;
    }
    .Proyecto 
    {
        
        display: block;
        
    }
    .copado h3
    {
        font-size: 30px;
        display: block;
        
        
    }
    .sep{
        display: block;
        align-items: center;
        
    }
    .form-div
    {
        margin-top: 50px;
        margin-right: 10%;
        
        
    }
    .leng2
    {
       position: relative;
       left: 5%;

    }
    .leng
    {
        position: relative;
        left: 2%;
    }
    .leng3
    {
        position: relative;
        left: 2%;
    }
    .repo2
    {
        position: relative;
        bottom: 20px;
    }
    
.derecha-span
{
    padding-top: 45px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    
    
}
   
.sobremi strong
{
    font-size: 25px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    display: grid;
}
.copado .contenedor-intereses
{
    
    display: flex;
    flex-direction: column;
    margin-left: 26%;
    
    
    
}

    .sec
    {
        margin: 0;
        padding-left: 15px;
      
    }
    .cont-proyectos
    {
        padding-top: 15px;
        
        
        
    }
    .logo
    {
        margin-left: 2%;
    }
    
    .boton-descarga
    {
        margin: 0 auto;
        margin-left: 85px;

    }
    .mostrar-menu,
    .esconder-menu{
        display: block;
        margin-right: 2%;
    }
    .nav {
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #242525;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .nav a{
        display:  block;
        padding: 20px;

    }
    .esconder-menu
    {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chek:checked ~ .nav
    {
        right: 0;
    }
    .info-yo
    {
        margin-left: 12%;
        width: 75%;
    }
.soy
{ 
    display: block;
    padding-bottom: 20px;
    font-family: 'info';
    color: #7ad4d4;
    transition: 1s;
    font-size: 15px;
}
.tengo 
{
    padding-bottom: 20px;
    font-family: 'Pixel';
    font-size: 20px;
    letter-spacing: 5px;
    color: #dfdcdc;
}
.con
{
    padding: 0px 30px 20px 30px;
    display: block;
    color: #39dee4;
    font-family: 'info';
    transition: 1s;
    font-size: 12px;
}
}

@media (max-width: 380px)
{
    #banner
    {
        background-position: left;
        
        width: 86%;
    }
    .form 
    {
        margin: 0;
        padding-right: 150px;
        padding-top: 0px;
        padding-left: 150px;
       
        
        
    }
    .img-sec{

       display: flex;
       flex-direction: column;
       margin-top: 10px;
       align-items: center;
       width: 100%;
       
    }
    .titulo-personal h2
    {
      margin-left: 20%;
    }
    .sobremi .personal
    {
        position: relative;
        align-items: center;
        display: flex;
        width: 80%;
        margin-left: 20%;
    }
    .personal li strong
    {
        align-items: center;
    }
    .personal .derecha-span {
        font-size: 17px;
    }
    .Proyecto 
    {
        
        display: block;
        margin-left: 15%;
        
    }
    .copado h3
    {
        font-size: 30px;
        display: block;
        margin-left: 30%;
        
        
    }
    .sep{
        display: block;
        align-items: center;
        margin-left: 35%;
        
    }
    .form-div
    {
        margin-top: 50px;
        margin-left: 30%;
        
        
    }
    .leng2
    {
       position: relative;
       left: 5%;

    }
    .leng
    {
        position: relative;
        left: 2%;
    }
    .leng3
    {
        position: relative;
        left: 2%;
    }
    .repo2
    {
        position: relative;
        bottom: 20px;
    }
    
.derecha-span
{
    padding-top: 45px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    
    
}

   
.sobremi strong
{
    font-size: 25px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    display: grid;
}
.copado .contenedor-intereses
{
    
    display: flex;
    flex-direction: column;
    margin-left:40%;
    
    
    
}

    .sec
    {
        margin: 0;
        padding-left: 15px;
      
    }
    .cont-proyectos
    {
        padding-top: 15px;
        
        
        
    }
    .logo
    {
        margin-left: 2%;
    }
    
    .boton-descarga
    {
        margin: 0 auto;
        margin-left: 60px;

    }
    .mostrar-menu,
    .esconder-menu{
        display: block;
        margin-right: 10%;
    }
    .nav {
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #242525;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .nav a{
        display:  block;
        padding: 20px;

    }
    .esconder-menu
    {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chek:checked ~ .nav
    {
        right: 0;
    }
    .info-yo
    {
        margin-left: 9%;
        width: 100%;
    }
.sobremi h1
{
    margin-left: 20%;
}
.soy
{ 
    display: block;
    padding-bottom: 20px;
    font-family: 'info';
    color: #7ad4d4;
    transition: 1s;
    font-size: 15px;
}
.tengo 
{
    padding-bottom: 20px;
    font-family: 'Pixel';
    font-size: 20px;
    letter-spacing: 5px;
    color: #dfdcdc;
}
.con
{
    padding: 0px 30px 20px 30px;
    display: block;
    color: #39dee4;
    font-family: 'info';
    transition: 1s;
    font-size: 12px;
}
}

